namespaceOverride: "kube-system"
k8sServiceHost: "localhost"
k8sServicePort: 7445
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
      - NET_BIND_SERVICE
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
ingressController:
  enabled: true
  default: true
  loadbalancerMode: shared
  hostNetwork:
    enabled: true
    nodes:
      matchLabels:
        kubernetes.io/os: linux
        kubernetes.io/hostname: talos-default-controlplane-1
hubble:
  enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
      hosts:
        - hubble.homelab
  relay:
    enabled: true
kubeProxyReplacement: "true"

envoy:
  securityContext:
    capabilities:
      envoy:
        - NET_ADMIN
        - SYS_ADMIN
        - NET_BIND_SERVICE
      keepCapNetBindService: true
clustermesh:
  config:
    enabled: false
cgroup:
  hostRoot: /sys/fs/cgroup
