namespaceOverride: loki

deploymentMode: SingleBinary
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
  useTestSchema: true
  testSchemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  pattern_ingester:
    enabled: true
  ui:
    enabled: false
  tracing:
    enabled: false
  bloom_build:
    enabled: false
  bloom_gateway:
    enabled: false

enterprise:
  enabled: false
test:
  enabled: false
lokiCanary:
  enabled: false
networkPolicy:
  enabled: false
gateway:
  enabled: false

ingress:
  enabled: false

singleBinary:
  replicas: 1
  persistence:
    size: 1Gi

write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0
ingester:
  replicas: 0
distributor:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
indexGateway:
  replicas: 0
compactor:
  replicas: 0
bloomGateway:
  replicas: 0
bloomPlanner:
  replicas: 0
bloomBuilder:
  replicas: 0
patternIngester:
  replicas: 0
ruler:
  enabled: false
  replicas: 0
overridesExporter:
  enabled: false
  replicas: 0
memcached:
  enabled: false
memcachedExporter:
  enabled: false
resultsCache:
  enabled: false
  replicas: 0
chunksCache:
  enabled: false
rollout_operator:
  enabled: false
minio:
  enabled: false
  replicas: 0
monitoring:
  dashboards:
    enabled: false
tableManager:
  enabled: false
