ingress:
  enabled: true
  ingressClassName: cilium
  hosts:
    - grafana.homelab

adminUser: admin
adminPassword: strongpassword

datasources: 
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Loki
      type: loki
      access: proxy
      orgId: 1
      url: http://loki.loki.svc.cluster.local:3100/
      basicAuth: false
      isDefault: false
      version: 1
      editable: false
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-server.prometheus.svc.cluster.local
      isDefault: true
      editable: false
